* {
	margin: auto;
	border: 2px solid red;

}
html {
    position: relative;
    min-height: 100%;
}

body{
	margin: 0 0 100px;
	font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
	color: #3D372E;
	line-height: 120%;
	box-sizing: border-box;
	background-color: #FCE4BE;
	background-image: url(../images/critter.png);
	background-repeat: no-repeat;
}


main { 
	margin: auto;
	width: 960px;
	height: 100%;
	overflow: hidden;
}


input {
	width: 100%;
}

input[type=text] {
    width: 100%;
    padding: 12px 10px;
	margin: 5px 0px 15px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: .85em;
    color: #919191;
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1em;
    width: 25%;
}
textarea {
	width: 100%;
	border: 1px solid #ccc;
	padding: 12px 10px;
	margin: 5px 0px 15px 0px;
	color: #919191;
	font-size: .85em;
}
footer {
	clear: both;
	text-align: center;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	width: 100%;
	color: #fff;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

}
/* logo*/
h1 {
	font-family: 'EB Garamond', serif;
	font-size: 3em;
	font-weight: bolder;
	text-align: center;
	letter-spacing: .75px;
	padding: 30px;
	color: #618BB0;

}
/*heading*/
h2 {
	font-size: 1.75em;
	font-weight: bolder;
	line-height: 150%;
}
/*side bar header*/
h3 {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 75%;
}
/*gallery labels, contact labels*/
h4 {
	font-size: 1.1em;
}

h5 {
	font-size: 1em;
	font-style: italic;
}
/* footer*/
h6 {
	font-size: .75em;
	letter-spacing: .75px;
	padding: 30px 0px 30px 0px;
}

p {
	font-size: .85em;
}

a {
	text-decoration: none;
	font-size: 1em;
	font-style: italic;
	color: inherit;
}

/*
324953 footer darkest blue
86C4DF footer  text lightest blue
588193 medium blue
608CA0 ligth blue
496B79 dark blue

C9D9DF text
937858 text Display
